//
   Created by TWDean on 2016/7/9.

block content
    h1 addusrActi
    form(action='/attendency/addusrActi', method='post')
        input(type='text', name='user_id')
        input(type='text', name='activity_id')
        input(type='text', name='created_day')
        input(type='submit')

    h1 delusrActi
        form(action='/attendency/delusrActi', method='post')
            input(type='text', name='user_id')
            input(type='text', name='activity_id')
            input(type='submit')

    h1 query_usrforActi
        form(action='/attendency/query_usrforActi', method='post')
            input(type='text', name='activity_id')
            input(type='submit')

    h1 query_actiforusr
        form(action='/attendency/query_actiforusr', method='post')
            input(type='text', name='user_id')
            input(type='text', name='activity_id')
            input(type='submit')

    h1 query_allforusr
        form(action='/attendency/query_allforusr', method='post')
            input(type='text', name='user_id')
            input(type='submit')

    h1 query_actibytime
        form(action='/attendency/query_actibytime', method='post')
            input(type='text', name='user_id')
            input(type='text', name='time_lower_bound')
            input(type='text', name='time_upper_bound')
            input(type='submit')

    h1 query_actibeforeend
        form(action='/attendency/query_actibeforeend', method='post')
            input(type='text', name='user_id')
            input(type='submit')
