//
   Created by TWDean on 2016/7/9.

block content
    h1 addattend
    form(action='/attendency/addusrActi', method='post')
        input(type='text', name='user_id')
        input(type='text', name='exercise_id')
        input(type='text', name='created_day')
        input(type='submit')