//
   Created by var on 2016/7/10.
block content
    h1 exercise_comment query_comment
    form(action='/exercise_comment/query_comment', method='post')
        input(type='text', name='exercise_id', placeholder='exercise_id')
        input(type='submit')

    h1 exercise_comment addcomment
    form(action='/exercise_comment/addcomment', method='post')
        input(type='text', name='user_id', placeholder='user_id')
        input(type='text', name='exercise_id', placeholder='exercise_id')
        input(type='text', name='comment', placeholder='comment')
        input(type='text', name='grade', placeholder='grade')
        input(type='text', name='time', placeholder='time')
        input(type='submit')



