block content
    h1 add_exer_tag
    form(action='/exercise_tag/add_exer_tag', method='post')
        input(type='text', name='tags_id', placeholder='tags_id')
        input(type='text', name='exercise_id', placeholder='exercise_id')
        input(type='submit')

    h1 add_user_tag
    form(action='/user_tag/add_user_tag', method='post')
        input(type='text', name='tags_id', placeholder='tags_id')
        input(type='text', name='user_id', placeholder='user_id')
        input(type='submit')

    h1 update_user_tag
    form(action='/user_tag/update_user_tag', method='post')
        input(type='text', name='tag', placeholder='tag')
        input(type='text', name='user_id', placeholder='user_id')
        input(type='submit')

    h1 query_user_tag
    form(action='/user_tag/query_usr_tag', method='post')
        input(type='text', name='user_id', placeholder='user_id', value='3A1BDD4D7A1B739177D875832FE6D46E')
        input(type='submit')

