block content
    h1 query
    form(action='/exercise_tag/query_exer_tag', method='post')
        input(type='text', name='exercise_id')
        input(type='submit')

    h1 add
    form(action='/exercise_tag/add_exer_tag', method='post')
        input(type='text', name='exercise_id')
        input(type='text', name='tag_id')
        input(type='submit')

    h1 change username
    form(action='/user/chguname', method='post')
        input(type='text', name='id')
        input(type='text', name='name')
        input(type='submit')
