block content
    h1 register
    form(action='/user/register', method='post')
        input(type='text', name='id')
        input(type='text', name='name')
        input(type='text', name='gender')
        input(type='text', name='birthday')
        input(type='submit')

    h1 login
    form(action='/user/login', method='post')
        input(type='text', name='id')
        input(type='submit')

    h1 change username
    form(action='/user/chguname', method='post')
        input(type='text', name='id')
        input(type='text', name='name')
        input(type='submit')