block content
    h1 exercise_tag query_exer_tag
    form(action='/exercise_tag/query_exer_tag', method='post')
        input(type='text', name='exercise_id', placeholder='exercise_id')
        input(type='submit')

    h1 exercise_tag add_exer_tag
    form(action='/exercise_tag/add_exer_tag', method='post')
        input(type='text', name='exercise_id', placeholder='exercise_id')
        input(type='text', name='tag_id', placeholder='tag_id')
        input(type='submit')

    h1 exercise_tag del_tag
    form(action='/exercise_tag/del_tag', method='post')
        input(type='text', name='exercise_id', placeholder='exercise_id')
        input(type='text', name='tag_id', placeholder='tag_id')
        input(type='submit')

    h1 user_tag query_usr_tag
    form(action='/user_tag/query_usr_tag', method='post')
        input(type='text', name='user_id', placeholder='user_id')
        input(type='submit')

    h1 user_tag add_user_tag
    form(action='/user_tag/add_user_tag', method='post')
        input(type='text', name='user_id', placeholder='user_id')
        input(type='text', name='tag_id', placeholder='tag_id')
        input(type='submit')

    h1 user_tag del_tag
    form(action='/user_tag/del_tag', method='post')
        input(type='text', name='user_id', placeholder='user_id')
        input(type='text', name='tag_id', placeholder='tag_id')
        input(type='submit')
